.button {
    width: 149px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
    box-shadow: 0px 0px 24px rgba(234, 0, 41, 0.33); 
    border-radius: 6px;
    color: #FFFFFF;
    font-family: "Lab Grotesque";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  
  .button:hover,
  .button:active {
    background: #EA0029;
    box-shadow: 0px 0px 24px rgba(234, 0, 41, 0.33);
  }
  
  .button:disabled {
    background: #BEC5CC;
  }